<!-- app -->
<div class="app">
  <header class="header">
    <h1 class="title">가계부</h1>
  </header>

  <nav class="navigation">
    <div class="month-selector">
      <button class="left"></button>
      <div class="month">6월</div>
      <button class="right"></button>
    </div>
    <div class="page-selector">
      <button class="reports-page-btn selected">내역</button>
      <button class="calendar-page-btn">달력</button>
      <button class="statistics-page-btn">통계</button>
    </div>
  </nav>
</div>
