<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HKB</title>
  </head>
  <body>
    <!-- app -->
    <div class="app">
      <svg class="simple-pie" viewBox="0 0 32 32">
        <!-- <circle class='first' ></circle>
        <circle class='second' ></circle>
        <circle class='third' ></circle> -->
      </svg>

      <nav class="month-selector">
        <button class="left">
          <i class="icon">arrowtriangle_left_fill</i>
        </button>
        <div class="month">6월</div>
        <button class="right">
          <i class="icon">arrowtriangle_right_fill</i>
        </button>
      </nav>

      <nav class="page-selector">
        <button class="reports-page-btn selected">내역</button>
        <button class="calendar-page-btn">달력</button>
        <button class="statistics-page-btn">통계</button>
      </nav>

      <main class="main"></main>
    </div>
  </body>
</html>
