<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main class="reports-page">
      <section class="list-section">
        <div class="daily-reports">
          <div class="row">
            <div class="day">6월 16일 화</div>
            <div class="daily-total">+0원</div>
          </div>
          <div class="row">
            <div class="category">쇼핑/뷰티</div>
            <div class="description">미용실</div>
            <div class="payment">현대카드</div>
            <div class="price">-20,000원</div>
          </div>
          <div class="row">
            <div class="category">월급</div>
            <div class="description">월급</div>
            <div class="payment">국민은행</div>
            <div class="price">+2,750,000원</div>
          </div>
        </div>
        <div class="daily-reports">
          <div class="row">
            <div class="day">6월 16일 화</div>
            <div class="daily-total">+0원</div>
          </div>
          <div class="row">
            <div class="category">쇼핑/뷰티</div>
            <div class="description">미용실</div>
            <div class="payment">현대카드</div>
            <div class="price">-20,000원</div>
          </div>
          <div class="row">
            <div class="category">월급</div>
            <div class="description">월급</div>
            <div class="payment">국민은행</div>
            <div class="price">+2,750,000원</div>
          </div>
        </div>
        <div class="daily-reports">
          <div class="row">
            <div class="day">6월 16일 화</div>
            <div class="daily-total">+0원</div>
          </div>
          <div class="row">
            <div class="category">쇼핑/뷰티</div>
            <div class="description">미용실</div>
            <div class="payment">현대카드</div>
            <div class="price">-20,000원</div>
          </div>
          <div class="row">
            <div class="category">월급</div>
            <div class="description">월급</div>
            <div class="payment">국민은행</div>
            <div class="price">+2,750,000원</div>
          </div>
        </div>
        <div class="daily-reports">
          <div class="row">
            <div class="day">6월 16일 화</div>
            <div class="daily-total">+0원</div>
          </div>
          <div class="row">
            <div class="category">쇼핑/뷰티</div>
            <div class="description">미용실</div>
            <div class="payment">현대카드</div>
            <div class="price">-20,000원</div>
          </div>
          <div class="row">
            <div class="category">월급</div>
            <div class="description">월급</div>
            <div class="payment">국민은행</div>
            <div class="price">+2,750,000원</div>
          </div>
        </div>
        <div class="daily-reports">
          <div class="row">
            <div class="day">6월 16일 화</div>
            <div class="daily-total">+0원</div>
          </div>
          <div class="row">
            <div class="category">쇼핑/뷰티</div>
            <div class="description">미용실</div>
            <div class="payment">현대카드</div>
            <div class="price">-20,000원</div>
          </div>
          <div class="row">
            <div class="category">월급</div>
            <div class="description">월급</div>
            <div class="payment">국민은행</div>
            <div class="price">+2,750,000원</div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
