<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <svg
      class="pie"
      viewBox="-1.1 -1.1 2.2 2.2"
      style="transform: rotate(-0.25turn);"
    ></svg>

    <svg class="pie2" width="100" height="100" class="chart">
      <circle r="25" cx="50" cy="50" class="circle1" />
      <circle r="25" cx="50" cy="50" class="circle2" />
    </svg>
    <svg class="simple-pie" viewBox="0 0 32 32"></svg>
    <nav class="month-selector">
      <button class="left">
        <i class="icon">arrowtriangle_left_fill</i>
      </button>
      <div class="month">6월</div>
      <button class="right">
        <i class="icon">arrowtriangle_right_fill</i>
      </button>
    </nav>
    <nav class="page-selector">
      <button class="reports-page-btn selected">내역</button>
      <button class="calendar-page-btn">달력</button>
      <button class="statistics-page-btn">통계</button>
    </nav>
  </body>
</html>
