.login-page {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;

  .wrapper {
    position: absolute;
    width: var(--width);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;

    h1 {
      text-align: center;
    }

    .login-buttons {
      width: 240px;
      margin: 0 auto;
      margin-top: 40px;
      display: flex;
      flex-direction: column;

      #naverIdLogin {
        margin-bottom: 6px;

        a {
          display: flex;
          transition: 200ms all;
        }
      }

      $github-dark: rgb(54, 54, 54);
      $github: rgb(68, 68, 68);

      .btn {
        width: 100%;
        display: flex;
        align-items: center;

        text-decoration: none;
        border-radius: 6px;
        margin-bottom: 6px;
        transition: 200ms all;

        &:hover {
          box-shadow: var(--todo-shadow);
          filter: brightness(0.9);
          transform: scale(1.03) translateY(-2px);
        }

        &:active {
          transform: scale(1) translateY(0);
        }

        .icon {
          width: 52px;
          height: 52px;
          font-size: 32px;
          line-height: 52px;
        }

        .content {
          margin-left: 20px;
        }
      }

      .btn-google {
        background-color: white;
        color: rgb(117, 117, 117);
        border: 1px solid #ddd;

        .icon {
          border-right: 1px solid #ddd;
          filter: saturate(1.2);
          background: conic-gradient(
            from 0deg at 41% 50%,
            #d95140 53deg,
            #5185ec 53deg 127deg,
            #58a55c 127deg 233deg,
            #f2be42 233deg 313deg,
            #d95140 313deg 360deg
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      .btn-github {
        background-color: $github;
        border: 1px solid $github-dark;
        color: white;

        .icon {
          border-right: 1px solid $github-dark;
        }
      }
    }
  }
}
