.app {
  .month-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    font-size: 20px;
    background-color: var(--white);

    .year {
      position: relative;
      margin-right: 12px;

      &::after {
        content: '.';
        display: block;
        position: absolute;
        right: -8px;
        bottom: 0;
      }
    }
    .left,
    .right {
      margin: 12px;
    }
  }

  .page-selector {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    height: 50px;
    background: #3498db;
    border-radius: 0;
    box-shadow: var(--todo-shadow);

    button {
      color: var(--white);
      font-size: 14px;
      width: 160px;
      height: 100%;
      transition: all 200ms;

      .icon {
        margin-right: 4px;
      }

      &:not(.selected):hover {
        transform: scale(1.2);
        font-weight: 600;
      }

      &.selected {
        position: relative;
        font-size: 18px;
        font-weight: 600;
        color: var(--blue);
        background-color: var(--white);
      }
    }
  }
}
