svg.simple-pie {
  width: 300px;
  height: 300px;

  border-radius: 50%;
  background: white;
  transform: rotate(-90deg);

  circle {
    fill: none;
    stroke-width: 32;
    r: 16;
    cx: 16;
    cy: 16;
    stroke-dasharray: 0 100;
    transition: stroke-dasharray 500ms ease;
  }

  &.active circle {
    &.first {
      stroke: deeppink;
      stroke-dasharray: 75 100;
      z-index: 3;
    }

    &.second {
      stroke: #fb3;
      stroke-dasharray: 50 100;
      z-index: 2;
    }

    &.third {
      stroke: black;
      stroke-dasharray: 24 100;
      z-index: 1;
    }
  }
}
