@import './fonts.scss';

@import './components/formModal.scss';
@import './components/navigation.scss';
@import './components/reportsList.scss';
@import './components/statistics.scss';
@import './components/svgs.scss';
@import './components/calendar.scss';
@import './components/notFound.scss';
@import './components/login.scss';

:root {
  --width: 640px;
  --padding: 20px;
  --section-margin: 16px;
  --row-margin: 10px;

  // Colors
  --white: #ffffff;
  --card-white: #fff;
  --alt-black: #444444;
  --light-blue: #eff1f3;
  --super-light-blue: #f5f5f7;
  --baemint: #10b3ad;
  --red: #f64646;

  --orange: #f72269;
  --orange-back: rgba(247, 35, 105, 0.1);

  --blue: #0091fa;
  --blue-back: rgba(0, 145, 250, 0.1);

  --purple: #9585f7;
  --purple-back: rgba(149, 133, 247, 0.1);

  --green: #27ae60;
  --green-back: rgba(39, 174, 96, 0.1);

  --gray: #808082;
  --light-gray: #acacac;
  --super-light-gray: #e0e0e0;

  --navy: #34495e;
  --navy-back: rgba(52, 73, 94, 0.1);

  --yellow: #f1c40f;
  --yellow-back: rgba(241, 196, 15, 0.1);

  // Radius
  --large-radius: 20px;
  --medium-radius: 15px;
  --small-radius: 10px;

  // Shadow
  --baemin-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  --todo-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  --activity-item-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

  // Transition
  --scheme-trans: background-color 800ms ease, box-shadow 800ms ease,
    border-color 800ms ease;
}

body {
  background-color: var(--light-blue);
  color: var(--alt-black);
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

textarea {
  border: none;
}

::selection {
  color: var(--white);
  background: var(--baemint);
}

::-webkit-scrollbar {
  display: none;
}
