@import './components/formModal.scss';
@import './components/header.scss';
@import './components/navigation.scss';
@import './components/reportsList.scss';
@import './components/svgs.scss';

:root {
  --width: 640px;
  --padding: 20px;
  --section-margin: 16px;
  --row-margin: 10px;

  // Colors
  --white: #ffffff;
  --card-white: #fff;
  --alt-black: #444444;
  --light-blue: #eff1f3;
  --super-light-blue: #f5f5f7;
  --baemint: #10b3ad;
  --red: #f64646;
  --orange: #f72269;
  --blue: #0091fa;
  --gray: #808082;
  --light-gray: #acacac;

  // Radius
  --large-radius: 20px;
  --medium-radius: 15px;
  --small-radius: 10px;

  // Shadow
  --baemin-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  --todo-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  --activity-item-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);

  // Transition
  --scheme-trans: background-color 800ms ease, box-shadow 800ms ease,
    border-color 800ms ease;
}

body {
  background-color: var(--light-blue);
  color: var(--alt-black);
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
  outline: none;
  box-sizing: border-box;
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

textarea {
  border: none;
}

::selection {
  color: var(--white);
  background: var(--baemint);
}

::-webkit-scrollbar {
  display: none;
}
